* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}
/* ================ Header ============ */
.header {
  background-color: rgb(114, 180, 235);
  z-index: 1;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  padding: 36px 0 8px;
}
.nav {
  margin: auto auto;
}
.action {
  margin-left: auto;
  margin: auto 0;
}
.nav ul {
  display: flex;
}

/* ================ Hero ============ */
.hero {
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
}
.hero .body {
  display: flex;
}
.hero .media-block {
  position: relative;
  width: 50%;
}
.hero .content-block {
  width: 50%;
  padding-left: 130px;
}
.hero .hero-sumary {
  position: absolute;
  right: -30px;
  bottom: 150px;
  background-color: rgb(206, 240, 245);
  border-radius: 10%;
}
.hero .media-block .img {
  width: 470px;
  max-width: 100%;
  height: auto;
  height: 685px;
  object-fit: contain;
}
.hero .item {
  display: flex;
}
.hero .icon {
  width: 48px;
  height: 48px;
  border-radius: 30%;
  background-color: aquamarine;
}
.hero .item {
  margin: 24px;
}
.hero .infor {
  margin-left: 16px;
}
.hero .infor .lable {
  font-size: 10px;
  color: blue;
}
.hero .infor .title {
  font-size: 20px;
  color: black;
  font-weight: 600;
  line-height: 1.5;
}
.content-block .group-btn {
  display: flex;
}
.content-block .watch-video {
  display: flex;
}

.hero .content-block {
  padding-top: 100px;
}
.hero .heading {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.hero .content {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(48, 46, 46);
}
.hero .group-btn {
  padding-top: 20px;
}
.hero .btn {
  min-width: 100px;
  background-color: orange;
  align-self: center;
  height: 40px;
}
.hero .watch-video {
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.hero .watch-video .icon-watch {
  width: 24px;
  height: 24px;
  margin: auto;
  margin-right: 5px;
  background-color: aquamarine;
  border-radius: 50%;
}
.hero .kl {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: blueviolet;
}
/* ================ Common ============ */
.logo {
  width: 50px;
}
a {
  text-decoration: none;
  display: inline-block;
}
.main-content {
  margin: 0 auto;
  width: 1170px;
  max-width: calc(100% - 48px);
}
.nav a {
  color: black;
  width: 80px;
  margin: 10px;
  text-align: center;
  border-radius: 999px;
  padding: 5px;
  background-color: aqua;
}
.nav a:hover {
  font-style: italic;
}
.nav a:active {
  background-color: rgb(79, 102, 233);
}
.btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px;
  width: 80px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
}
.icon {
  width: 48px;
  height: 48px;
}
